{% extends "base.html" %}
{% load static %}
{% block content %}
{% url 'register' as register_url %}
{% url 'home' as home_url %}

<!--<div class="text-center mt-4 pt-5">
	<h1>Login</h1>
</div>-->
<!--<div class="container-fluid" style="background-image : url('% static 'img/loginback1.jpg' %}');background-repeat:no-repeat;width:100%;height:100%">-->
<div class="row col-xs-4 col-xs-offset-4 pt-5 mt-5">
                <div class="card mx-auto border-primary" style="width:25rem;">
                    <div class="card-header text-white bg-primary text-center">
                            <h4>Login</h4>
                    </div>
                    <div class="card-body text-black bg-transparent">
                        <p class="text-danger">Login to make a purchase !</p>
			<div>
				<form method ='POST' class="form-group">{% csrf_token %}
        				{{ form }}
					<center>
						<br/>
						<button type ='submit' class='btn btn-primary'>Submit</button>
					</center>
				</form>
			</div>
		    </div>
		    <div class="card-footer text-black bg-light">
			    <p>Don't have an account?<a href="{{ register_url }}"> Register</a></p>
                    </div>
		</div>
</div>

{% endblock %}

